  .root{
    background-color: #ecfdd180;
    padding: 1rem;
  }
  .root > div {
    padding-bottom: 1rem;
    display: flex;
  }
  .caption{
    width: 10rem;
    margin-right: 1rem;
  }
  .btnAction {
    border-radius: .25rem .25rem .25rem .25rem;
    padding: .5rem .5rem .5rem .5rem;
    border: 1px solid #61783f;
    color: #61783f;
    margin-right: .5rem;
  }
  .btnAction:hover{
    color: #d1e4b4;
    background-color: #61783f;
  }